* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.cv-header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5em ease; 
    background:rgba(15, 15, 15, 50%);
}


.navigation {
    position: relative;
    
}

.navigation-left {
    padding-top: 5px;
    float: left;
    position: relative;
    color: rgb(209, 112, 0);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.navigation-right {
    padding-top: 5px;
    float: right;
    position: relative;
    color: rgb(209, 112, 0);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.navigation-left:before {
    content: '';
    position: absolute;
    background: rgb(31, 31, 31);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;

}

.navigation-left:hover:before {
    width: 100%;
}

.navigation-right:before {
    content: '';
    position: absolute;
    background: rgb(31, 31, 31);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;

}

.navigation-right:hover:before {
    width: 100%;
}

.cv-content {
    padding: 100px 250px;
}

.cv-profile {
    padding: 20px 30px;
    text-align: center;
}

.cv-profile img {
    margin: 5px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(209, 112, 0);
    object-fit: cover;
}

.cv-profile h3 {
    margin: 5px 0 10px;
}

.cv-profile p {
    margin: 5px 0 10px;
}

.cv-links {
    margin: 5px;
    
}

.cv-links a {
    padding: 5px 10px;
    font-size: 0px;
   
}


.cv-links img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    
}

.aboutme {
    font-size: 20px;
}

.aboutme h2 {
    margin-bottom: 15px ;
    margin-top: 15px;
}

.aboutme p { 
    margin-bottom: 10px ;
}

.education {
    font-size: 20px;
    text-align: center;
}

.okul {
    margin-top: 5px;
}

.beceriler {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
}

.beceri {
    flex: 1 1 250px;
}

.beceri span {
    color: rgb(209, 112, 0);
}

.yazilim {
    font-size: 20px;
}

.cv-footer {
    background-color: #272727;
    
}

.cv-footer-socials {
    display: flex;
    
}

.cv-footer-socials ul {
    display: flex;
    padding: 0;
    margin: auto;
}

.cv-footer-icon {
    list-style: none;
    
}

.cv-footer-icon a {
    padding: 5px 10px;
    color: red;
}

.cv-footer-icon img {
    width:50px;
    height:50px;
}

.cv-footer hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 1px;
    border-color: rgb(192, 100, 19);
}

.cv-footer-contact {
    text-align: center;
    color: white;
}

.cv-footer-bot {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18;
    background-color: #3f3f3f;
}